{% load static %}
<!DOCTYPE html>
<html>

   <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <meta name="description" content="First Impressions Ultrasound.">
       <meta name="author" content="Paul Hahn">
       <title>{% block title %}{% endblock title %}</title>

       <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.pink-light_blue.min.css" />
       <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
       <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
       <!--<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=hbi37m1t2gx1kga0mcawmx3fpbl1hq41j7coguwyusbr4ppk"></script>-->
       <link href="http://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
       <link rel="stylesheet" href='{% static "css/base.css" %}'>

       <script>
       </script>
       {% block imports %}{% endblock imports %}
   </head>
   <body>

       {% block header %}{% endblock header%}
       <div class="mdl-layout mdl-layout--fixed-header ">
                <header class="mdl-layout__header mdl-layout__header--transparent">
                    <a href="{% url 'home'%}"><div class="mdl-layout__header-row hero_image" id="hero_image"></div></a>
                   <div class="mdl-layout__header-row navbar">
                       <div class="mdl-layout-title">
                           <a class="mdl-navigation__link" href="{% url 'home' %}">Home </a>
                       </div>
                       <div class="mdl-layout-spacer"></div>

                       <nav class="mdl-navigation mdl-layout--large-screen-only">
                           <a class="mdl-navigation__link" href="{% url 'galleries' %}">Image Galleries </a>
                           <a class="mdl-navigation__link" href="{% url 'gift_certificates' %}">Gift Certificates </a>
                           <a class="mdl-navigation__link" href="{% url 'packages' %}">Packages </a>
                           <a class="mdl-navigation__link" href="{% url 'facilities' %}">Facilities </a>
                           <a class="mdl-navigation__link" href="{% url 'faq' %}">FAQ </a>
                           <a class="mdl-navigation__link" href="{% url 'contact_us' %}">Contact Us </a>

                           {% if user.is_authenticated %}
                                <a class="mdl-navigation__link" href="{% url 'logout' %}">Logout </a>
                           {% else %}
                                <a class="mdl-navigation__link" href="{% url 'login' %}">Login </a>
                           {% endif %}
                       </nav>

                   </div>
                </header>
                <div class="mdl-layout__drawer">
                    <span class="mdl-layout-title">Title</span>
                    <!-- Navigation for smaller screens (drawer). -->
                    <nav class="mdl-navigation">
                       <a class="mdl-navigation__link" href="{% url 'galleries' %}">Image Galleries </a>
                       <a class="mdl-navigation__link" href="{% url 'gift_certificates' %}">Gift Certificates </a>
                       <a class="mdl-navigation__link" href="{% url 'packages' %}">Packages </a>
                       <a class="mdl-navigation__link" href="{% url 'facilities' %}">Facilities </a>
                       <a class="mdl-navigation__link" href="{% url 'faq' %}">FAQ </a>
                       <a class="mdl-navigation__link" href="{% url 'contact_us' %}">Contact Us </a>
                    </nav>
                </div>
                <main class="mdl-layout__content">
                   <div class="page-header">
                       {% if messages %}
                           <ul class="messages">
                               {% for message in messages %}
                                   <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >
                                       {{ message }}
                                   </li>
                               {% endfor %}
                           </ul>
                       {% endif %}
                        <!--     A area to hold any important information worth advertising      -->
                       {% block jumbotron %}
                       {% endblock jumbotron %}
                   </div>
                   <div class="page-content">
                       <!--     The actual body content of the page      -->
                       {% block content %}
                       {% endblock content %}
                   </div>
                </main>
                <footer class="mdl-mini-footer">
                    <div class="mdl-mini-footer__left-section">
                        <a href=""><img class="footer_brand" src="" /></a>
                    </div>
                    <div class="mdl-mini-footer__right-section">
                        <ul class="mdl-mini-footer__link-list">
                            <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                        </ul>
                    </div>
                </footer>
            </div>

       
       {% block script %}
       <script>

       </script>
       {% endblock script %}
   </body>
</html>

